@page
@using AcmeInc.AlertSystem.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using AcmeInc.AlertSystem.Web.Pages.EmailMessageSource
@using AcmeInc.AlertSystem.Localization
@using AcmeInc.AlertSystem.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<AlertSystemResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["EmailMessageSource"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:EmailMessageSource"].Value);
    PageLayout.Content.MenuItemName = AlertSystemMenus.EmailMessageSource;
}

@section scripts
{
    <abp-script src="/Pages/EmailMessageSource/index.js" />
}
@section styles
{
    <abp-style src="/Pages/EmailMessageSource/index.css"/>
}
@section content_toolbar
{
	@if (await Authorization.IsGrantedAsync(AlertSystemPermissions.EmailMessageSource.Create))
    {
        <abp-button id="NewEmailMessageSourceButton"
            text="@L["CreateEmailMessageSource"].Value"
            icon="plus"
            button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="EmailMessageSourceCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="EmailMessageSourceFilter" id="EmailMessageSourceFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="EmailMessageSourceCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="EmailMessageSourceTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
