@page
@using OptionOneTech.AlertSystem.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using OptionOneTech.AlertSystem.Web.Pages.Department
@using OptionOneTech.AlertSystem.Localization
@using OptionOneTech.AlertSystem.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<AlertSystemResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Department"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Department"].Value);
    PageLayout.Content.MenuItemName = AlertSystemMenus.Department;
}

@section scripts
{
    <abp-script src="/Pages/Department/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Department/index.css"/>
}
@section content_toolbar
{
	@if (await Authorization.IsGrantedAsync(AlertSystemPermissions.Department.Create))
    {
        <abp-button id="NewDepartmentButton"
            text="@L["CreateDepartment"].Value"
            icon="plus"
            button-type="Primary" />
    }
}

<abp-card>
    <abp-card-body>
        <abp-row class="mb-3">
            <a abp-collapse-id="DepartmentCollapse" class="text-secondary">@L["TableFilter"] </a>
        </abp-row>
        <abp-dynamic-form abp-model="DepartmentFilter" id="DepartmentFilter" required-symbols="false" column-size="_3">
            <abp-collapse-body id="DepartmentCollapse">
                <abp-form-content />
            </abp-collapse-body>
        </abp-dynamic-form>
        <hr />
        <abp-table striped-rows="true" id="DepartmentTable" class="nowrap"/>
    </abp-card-body>
</abp-card>
